<!DOCTYPE HTML>
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/fonts/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.slider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">

    <title>Event Locator | Event Listing </title>

</head>

<body class="page-sub-page page-listing-lines page-search-results" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact">
                    <figure><strong>Phone:</strong>+1 00-000-0000</figure>
                    <figure><strong>Email:</strong>exp@example.com</figure>
                </div>
                <div class="user-area">
                    <div class="actions">
                        <a href="/index">Sign In</a>
                    </div>
                    <div class="language-bar">
                        <a href="#" class="active"><img src="{% static 'assets/img/flags/us.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="/index"><img src="{% static 'assets/img/logoXX.jpeg' %}" alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav><!-- /.navbar collapse-->
                <div class="add-your-property">
                    <a href="/index-addrecord" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Add Record</span></a>
                </div>
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Event Listing</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Results -->
                <div class="col-md-9 col-sm-9">
                    <section id="results">
                        <header><h1>Event Listing</h1></header>
                        <section id="search-filter">
                            <figure><h3><i class="fa fa-search"></i>Search Results:</h3>
                                <span class="search-count">28</span>
                            </figure>
                        </section>
                        <section id="properties" class="display-lines">
                            <div class="property">
                                <figure class="tag status">Profesional</figure>
                                <figure class="type" title="Apartment"><img src="{% static 'assets/img/property-types/apartment.png' %}" alt=""></figure>
                                <div class="property-image">
                                    <figure class="ribbon">Featured</figure>
                                    <a href="/index-detail">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="/index-detail"><h3>4862 Palmer Road</h3></a>
                                        <figure>Worthington, OH 43085</figure>
                                    </header>
                                    <div class="tag price">12 November 2016</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Distance:</dt>
                                                <dd>600 KM</dd>
                                            <dt>Type:</dt>
                                                <dd>Round Robin</dd>
                                            <dt>State:</dt>
                                                <dd>New England</dd>
                                            <dt>Supponsors</dt>
                                                <dd>WWF</dd>
                                        </dl>
                                    </aside>
                                    <a href="/index-detail" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                            <div class="property">
                                <figure class="tag status">Profesional</figure>
                                <figure class="type" title="Apartment"><img src="{% static 'assets/img/property-types/apartment.png' %}" alt=""></figure>
                                <div class="property-image">
                                    <figure class="ribbon">Featured</figure>
                                    <a href="/index-detail">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="/index-detail"><h3>4862 Palmer Road</h3></a>
                                        <figure>Worthington, OH 43085</figure>
                                    </header>
                                    <div class="tag price">12 November 2016</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Distance:</dt>
                                                <dd>600 KM</dd>
                                            <dt>Type:</dt>
                                                <dd>Round Robin</dd>
                                            <dt>State:</dt>
                                                <dd>New England</dd>
                                            <dt>Supponsors</dt>
                                                <dd>WWF</dd>
                                        </dl>
                                    </aside>
                                    <a href="/index-detail" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                            <div class="property">
                                <figure class="tag status">Childern</figure>
                                <figure class="type" title="Apartment"><img src="{% static 'assets/img/property-types/apartment.png' %}" alt=""></figure>
                                <div class="property-image">
                                    <a href="/index-detail">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="/index-detail"><h3>4862 Palmer Road</h3></a>
                                        <figure>Worthington, OH 43085</figure>
                                    </header>
                                    <div class="tag price">30 November 2016</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Distance:</dt>
                                                <dd>1200 KM</dd>
                                            <dt>Type:</dt>
                                                <dd>Round Robin</dd>
                                            <dt>State:</dt>
                                                <dd>New England</dd>
                                            <dt>Supponsors</dt>
                                                <dd>WWF</dd>
                                        </dl>
                                    </aside>
                                    <a href="/index-detail" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->

                            <section id="advertising">
                                <a href="#">
                                    <div class="banner">
                                        <div class="wrapper">
                                            <span class="title">Do you want event messages?</span>
                                            <span class="submit">Submit it now! <i class="fa fa-plus-square"></i></span>
                                        </div>
                                    </div><!-- /.banner-->
                                </a>
                            </section><!-- /#adveritsing-->

                            <div class="property">
                                <figure class="tag status">Profesional</figure>
                                <figure class="type" title="Apartment"><img src="{% static 'assets/img/property-types/apartment.png' %}" alt=""></figure>
                                <div class="property-image">
                                    <figure class="ribbon">Featured</figure>
                                    <a href="/index-detail">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="/index-detail"><h3>4862 Palmer Road</h3></a>
                                        <figure>Worthington, OH 43085</figure>
                                    </header>
                                    <div class="tag price">12 November 2016</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Distance:</dt>
                                                <dd>600 KM</dd>
                                            <dt>Type:</dt>
                                                <dd>Round Robin</dd>
                                            <dt>State:</dt>
                                                <dd>New England</dd>
                                            <dt>Supponsors</dt>
                                                <dd>WWF</dd>
                                        </dl>
                                    </aside>
                                    <a href="/index-detail" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->
                            <div class="property">
                                <figure class="tag status">Adult</figure>
                                <figure class="type" title="Apartment"><img src="{% static 'assets/img/property-types/apartment.png' }" alt=""></figure>
                                <div class="property-image">
                                    <a href="/index-detail">
                                        <img alt="" src="assets/img/properties/property-01.jpg">
                                    </a>
                                </div>
                                <div class="info">
                                    <header>
                                        <a href="/index-detail"><h3>4862 Palmer Road</h3></a>
                                        <figure>Worthington, OH 43085</figure>
                                    </header>
                                    <div class="tag price">12 December 2017</div>
                                    <aside>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et dui vestibulum,
                                            bibendum purus sit amet, vulputate mauris. Ut adipiscing gravida tincidunt...
                                        </p>
                                        <dl>
                                            <dt>Distance:</dt>
                                                <dd>900 KM</dd>
                                            <dt>Type:</dt>
                                                <dd>Round Robin</dd>
                                            <dt>State:</dt>
                                                <dd>New England</dd>
                                            <dt>Supponsors</dt>
                                                <dd>WWF</dd>
                                        </dl>
                                    </aside>
                                    <a href="/index-detail" class="link-arrow">Read More</a>
                                </div>
                            </div><!-- /.property -->



                            <!-- Pagination -->
                            <div class="center">
                                <ul class="pagination">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul><!-- /.pagination-->
                            </div><!-- /.center-->
                        </section><!-- /#properties-->
                    </section><!-- /#results -->
                </div><!-- /.col-md-9 -->
                <!-- end Results -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="edit-search">
                            <header><h3>Search Events</h3></header>
                            <form role="form" id="form-sidebar" class="form-search" action="/index-list">
                              <div class="form-group">
                                  <select name="district">
                                      <option value="">Distance</option>
                                      <option value="1">30 KM</option>
                                      <option value="2">50 KM</option>
                                      <option value="3">100 KM</option>
                                      <option value="4">200 KM</option>
                                      <option value="5">300 KM</option>
                                  </select>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                  <select name="Time">
                                      <option value="">Time</option>
                                      <option value="1">Next 30 Days</option>
                                      <option value="2">Next 60 Days</option>
                                      <option value="3">Next 90 Days</option>
                                      <option value="4">Next 6 Month</option>
                                  </select>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                  <select name="gametypes">
                                     <option value="">GameTypes</option>
                                      <option value="1">Single Elimination</option>
                                      <option value="2">Double Elimination</option>
                                      <option value="3">Round Robbin</option>
                                  </select>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                  <select name="pointtype">
                                      <option value="">Points Type</option>
                                      <option value="1">Points</option>
                                      <option value="2">Submission Only</option>
                                      <option value="3">Time Only</option>
                                  </select>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                  <select name="district">
                                      <option value="">District</option>
                                      <option value="1">Manhattan</option>
                                      <option value="2">The Bronx</option>
                                      <option value="3">Brooklyn</option>
                                      <option value="4">Queens</option>
                                      <option value="5">Staten Island</option>
                                  </select>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                      <ul class="submit-features">
                                          <li><div class="checkbox"><label><input type="checkbox">Gi</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox">Nogi</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox">Pro</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox">P-Prizes</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox">Adult</label></div></li>
                                          <li><div class="checkbox"><label><input type="checkbox">Kids</label></div></li>
                                      </ul>
                                  </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </aside><!-- /#edit-search -->
                        <aside id="featured-properties">
                            <header><h3>Featured Events</h3></header>
                            <div class="property small">
                                <a href="/index-detail">
                                    <div class="property-image">
                                        <img alt="" src="assets/img/properties/property-06.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="/index-detail"><h4>2186 Rinehart Road</h4></a>
                                    <figure>Doral, FL 33178 </figure>
                                    <div class="tag price">November 2016</div>
                                </div>
                            </div><!-- /.property -->
                            <div class="property small">
                                <a href="/index-detail">
                                    <div class="property-image">
                                        <img alt="" src="assets/img/properties/property-09.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="/index-detail"><h4>2479 Murphy Court</h4></a>
                                    <figure>Minneapolis, MN 55402</figure>
                                    <div class="tag price">December 2018</div>
                                </div>
                            </div><!-- /.property -->
                            <div class="property small">
                                <a href="/index-detail">
                                    <div class="property-image">
                                        <img alt="" src="assets/img/properties/property-03.jpg">
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="/index-detail"><h4>1949 Tennessee Avenue</h4></a>
                                    <figure>Minneapolis, MN 55402</figure>
                                    <div class="tag price">October 2019</div>
                                </div>
                            </div><!-- /.property -->
                        </aside><!-- /#featured-properties -->
                        <aside id="our-guides">
                            <header><h3>Our Guides</h3></header>
                            <a href="#" class="universal-button">
                                <figure class="fa fa-home"></figure>
                                <span>Event Guide</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a><!-- /.universal-button -->
                            <a href="#" class="universal-button">
                                <figure class="fa fa-umbrella"></figure>
                                <span>Right Event for You</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a><!-- /.universal-button -->
                        </aside><!-- /#our-guide -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                                <hr>
                                <a href="#" class="link-arrow">Read More</a>
                            </article>
                        </div><!-- /.col-sm-3 -->

                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (000) 000-0000<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Useful Links</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="#">All Events</a></li>
                                    <li><a href="#">WWF</a></li>
                                    <li><a href="#">EA Sports</a></li>
                                    <li><a href="#">Star Plus</a></li>
                                    <li><a href="#">HBO</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2016. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>



<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerwithlabel_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.placeholder.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.vanillabox-0.1.5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/retina-1.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jshashtable-2.1_src.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.numberformatter-1.2.3.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/tmpl.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.dependClass-0.1.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/draggable-0.1.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.slider.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerclusterer_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom-map.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->

</body>
</html>
