<!DOCTYPE HTML>
{% load staticfiles %}

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="{% static 'assets/fonts/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/style.css' %}" type="text/css">
    <link rel="stylesheet"  href="{% static 'assets/css/user.style.css' %}" type="text/css">

    <title>Event Locator | MAP</title>

</head>

<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top">

<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">
        <!-- Navigation-->
        <div class="header">
            <div class="wrapper">
                <div class="brand">
                    <a href="#"><img src="/static/assets/img/logoXX.jpeg" alt="logo"></a>
                </div>
                <nav class="navigation-items">
                    <div class="wrapper">
                        <ul class="main-navigation navigation-top-header"></ul>
                        <ul class="user-area">
                            <li><a href="#">Sign In</a></li>
                        </ul>
                        <a href="#" class="submit-item">
                            <div class="content"><span>Add Your Event</span></div>
                            <div class="icon">
                                <i class="fa fa-plus"></i>
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end Navigation-->
        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <nav class="off-canvas-navigation">
                <header>Navigation</header>
                <div class="main-navigation navigation-off-canvas"></div>
            </nav>
            <!--end Off Canvas Navigation-->
            <!--Page Content-->
            <div id="page-content">
            <!-- Map Canvas-->
            <div class="map-canvas list-width-30">
                <!-- Map -->
                <div class="map">
                    <div class="toggle-navigation">
                        <div class="icon">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <!--/.toggle-navigation-->
                    <div id="map" class="has-parallax"></div>
                    <!--/#map-->
                    <div class="search-bar horizontal">
                        <form class="main-search border-less-inputs" role="form" method="post">
                            <div class="input-row">
                              <!-- /.form-group -->
                              <div class="form-group">
                                  <div class="input-group location">
                                      <input type="text" class="form-control" id="location" placeholder="Enter Location">
                                      <span class="input-group-addon"><i class="fa fa-map-marker geolocation" data-toggle="tooltip" data-placement="bottom" title="Find my position"></i></span>
                                  </div>
                              </div>
                              <!-- /.form-group -->

                              <div class="form-group">
                                  <select name="district">
                                      <option value="">Distance</option>
                                      <option value="1">30 KM</option>
                                      <option value="2">50 KM</option>
                                      <option value="3">100 KM</option>
                                      <option value="4">200 KM</option>
                                      <option value="5">300 KM</option>
                                  </select>
                              </div><!-- /.form-group -->
                              <div class="form-group">
                                  <select name="Time">
                                      <option value="">Time</option>
                                      <option value="1">Next 30 Days</option>
                                      <option value="2">Next 60 Days</option>
                                      <option value="3">Next 90 Days</option>
                                      <option value="4">Next 6 Month</option>
                                  </select>
                              </div><!-- /.form-group -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.input-row -->
                        </form>
                        <!-- /.main-search -->
                    </div>
                    <!-- /.search-bar -->
                </div>
                <!-- end Map -->
                <!--Items List-->
                <div class="items-list">





                  <header class="clearfix">
                      <a href="#advanced-search" class="show-more pull-left" data-toggle="collapse" aria-expanded="false" aria-controls="advanced-search">Filter Results</a>
                  </header>
                  <div class="advanced-search collapse" id="advanced-search">
                      <ul class="list-unstyled checkboxes">
                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" id="GI">GI</label></div></li>
                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" id="NOGI" >NOGI</label></div></li>
                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" id="KIDS" >KIDS</label></div></li>
                          <li><div class="checkbox"><label><input type="checkbox" name="features[]" id="ADULT">ADULT</label></div></li>
                      </ul>
                  </div>



                    <div class="inner">
                        <header>
                            <h3>Results</h3>
                        </header>
                        <ul class="results list">

                        </ul>
                    </div>
                    <!--results-->
                </div>
                <!--end Items List-->
            </div>
            <!-- end Map Canvas-->

            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->

    </div>
    <!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->

<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/before.load.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.hotkeys.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.nouislider.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script type="text/javascript" src="{% static 'assets/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/richmarker-compiled.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/maps.js' %}"></script>

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->


<script>

var JSonData={
    "data": [
        {
            "id": 1,
            "category": "real_estate",
            "title": "Decatur Central High School1",
            "location": "Throwback EGO",
            "latitude": 40.94554564607652,
            "longitude":-74.14876356562502,
            "url": "item-detail.html",
            "type": "760.24 Miles",
            "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
            "rating": 4,
            "cattye": "Single Elimination",
            "result": "Point Only",
            "xyz": "NOGI"

        },
        {
          "id": 2,
          "category": "real_estate",
          "title": "Decatur Central High School2",
          "location": "Throwback EGO",
          "latitude": 45.466751481830826,
          "longitude": -75.66487684687502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Single Elimination",
          "result": "Time Only",
          "xyz": "GI"
        },
        {
          "id": 3,
          "category": "real_estate",
          "title": "Decatur Central High School3",
          "location": "Throwback EGO",
          "latitude": 41.70457402349661,
          "longitude":-76.55476942500002,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 4,
          "category": "real_estate",
          "title": "Decatur Central High School4",
          "location": "Throwback EGO",
          "latitude": 42.65706455427807,
          "longitude": -73.76424208125002,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 5,
          "category": "real_estate",
          "title": "Decatur Central High School5",
          "location": "Throwback EGO",
          "latitude": 44.36202756319656,
          "longitude": -73.68733778437502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 6,
          "category": "real_estate",
          "title": "Decatur Central High School6",
          "location": "Throwback EGO",
          "latitude": 38.5727285412762,
          "longitude": -80.98225965937502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 7,
          "category": "real_estate",
          "title": "Decatur Central High School7",
          "location": "Throwback EGO",
          "latitude": 51.541599,
          "longitude": -0.112588,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 8,
          "category": "real_estate",
          "title": "Decatur Central High School8",
          "location": "Throwback EGO",
          "latitude": 40.202869368654596,
          "longitude": -78.16975965937502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 9,
          "category": "real_estate",
          "title": "Decatur Central High School9",
          "location": "Throwback EGO",
          "latitude": 51.541599,
          "longitude": -0.112588,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 10,
          "category": "real_estate",
          "title": "Decatur Central High School10",
          "location": "Throwback EGO",
          "latitude": 39.3925595374766,
          "longitude": -79.13655653437502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 11,
          "category": "real_estate",
          "title": "Decatur Central High School11",
          "location": "Throwback EGO",
          "latitude": 41.92565269297569,
          "longitude": -75.35725965937502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 12,
          "category": "real_estate",
          "title": "Decatur Central High School12",
          "location": "Throwback EGO",
          "latitude": 51.541599,
          "longitude": -0.112588,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 13,
          "category": "real_estate",
          "title": "Decatur Central High School13",
          "location": "Throwback EGO",
          "latitude": 40.0011873731205,
          "longitude": -79.83968153437502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 14,
          "category": "real_estate",
          "title": "Decatur Central High School14",
          "location": "Throwback EGO",
          "latitude": 51.541599,
          "longitude": -0.112588,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
        },
        {
          "id": 15,
          "category": "real_estate",
          "title": "Decatur Central High School15",
          "location": "Throwback EGO",
          "latitude": 45.17320239118332,
          "longitude": -77.55452528437502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 16,
          "category": "real_estate",
          "title": "Decatur Central High School16",
          "location": "Throwback EGO",
          "latitude": 51.541599,
          "longitude": -0.112588,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 17,
          "category": "real_estate",
          "title": "Decatur Central High School17",
          "location": "Throwback EGO",
          "latitude": 39.324603199987635,
          "longitude": -86.78304090937502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 18,
          "category": "real_estate",
          "title": "Decatur Central High School18",
          "location": "Throwback EGO",
          "latitude": 33.604181673967695,
          "longitude":-82.21272840937502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 19,
          "category": "real_estate",
          "title": "Decatur Central High School19",
          "location": "Throwback EGO",
          "latitude": 51.541599,
          "longitude": -0.112588,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 20,
          "category": "real_estate",
          "title": "Decatur Central High School20",
          "location": "Throwback EGO",
          "latitude": 39.52827380959531,
          "longitude": -78.96077528437502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },

        {
          "id": 21,
          "category": "real_estate",
          "title": "Decatur Central High School21",
          "location": "Throwback EGO",
          "latitude": 35.127629611726,
          "longitude": -82.30061903437502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        },
        {
          "id": 22,
          "category": "real_estate",
          "title": "Decatur Central High School22",
          "location": "Throwback EGO",
          "latitude": 39.12033775845048,
          "longitude": -82.91585340937502,
          "url": "item-detail.html",
          "type": "760.24 Miles",
          "type_icon": "/static/assets/icons/store/apparel/umbrella-2.png",
          "rating": 4,
          "cattye": "Double Elimination",
          "result": "Time Only",
          "xyz": "KIDS"
        }


    ]
}







$(function() {

  $('input').iCheck('check');

  var _latitude = 24.443159;
  var _longitude = -93.867188;
  $.get( "/json", function( data ) {
      createHomepageGoogleMap(_latitude,_longitude,data);
  alert( "Load was performed." );
  });


});

    // Set if language is RTL and load Owl Carousel

    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    autoComplete();

</script>

<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie-scripts.js"></script>
<![endif]-->
</body>
</html>
