<!DOCTYPE HTML>
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/fonts/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.slider.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">

  <title>Event Locator | MAP </title>

</head>


<body class="page-homepage navigation-fixed-bottom has-fullscreen-map map-google" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
<!-- Wrapper -->
<div class="wrapper">

  <!-- Navigation -->
  <div class="navigation">
      <div class="secondary-navigation">
          <div class="container">
              <div class="contact">
                  <figure><strong>Phone:</strong>+1 00-000-0000</figure>
                  <figure><strong>Email:</strong>exp@example.com</figure>
              </div>
              <div class="user-area">
                  <div class="actions">
                      <a href="/index-login">Sign In</a>
                  </div>
                  <div class="language-bar">
                      <a href="#" class="active"><img src="{% static 'assets/img/flags/us.png' %}" alt=""></a>
                  </div>
              </div>
          </div>
      </div>

      <div class="container">
          <header class="navbar" id="top" role="banner">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div class="navbar-brand nav" id="brand">
                      <a href="index/"><img src="{% static 'assets/img/logoXX.jpeg' %}" alt="brand"></a>
                  </div>
              </div>
              <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                  <ul class="nav navbar-nav">
                      <li><a href="index/">Home</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </nav><!-- /.navbar collapse-->
              <div class="add-your-property">
                  <a href="/index-list" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">List View</span></a>
              </div>
          </header><!-- /.navbar -->
      </div><!-- /.container -->
  </div><!-- /.navigation -->
  <!-- end Navigation -->

    <div class="container">
        <div class="geo-location-wrapper">
            <span class="btn geo-location"><i class="fa fa-map-marker"></i><span class="text">Find My Position</span></span>
        </div>
    </div>

    <!-- Map -->
    <div id="map" class="has-parallax"></div>
    <!-- end Map -->

    <!-- Search Box -->
    <div class="search-box-wrapper">
        <div class="search-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="search-box map">
                            <form role="form" id="form-map" class="form-map form-search">
                                <h2>Search Your Event</h2>
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">Distance</option>
                                        <option value="1">30 KM</option>
                                        <option value="2">50 KM</option>
                                        <option value="3">100 KM</option>
                                        <option value="4">200 KM</option>
                                        <option value="5">300 KM</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="Time">
                                        <option value="">Time</option>
                                        <option value="1">Next 30 Days</option>
                                        <option value="2">Next 60 Days</option>
                                        <option value="3">Next 90 Days</option>
                                        <option value="4">Next 6 Month</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="gametypes">
                                       <option value="">GameTypes</option>
                                        <option value="1">Single Elimination</option>
                                        <option value="2">Double Elimination</option>
                                        <option value="3">Round Robbin</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="pointtype">
                                        <option value="">Points Type</option>
                                        <option value="1">Points</option>
                                        <option value="2">Submission Only</option>
                                        <option value="3">Time Only</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">District</option>
                                        <option value="1">Manhattan</option>
                                        <option value="2">The Bronx</option>
                                        <option value="3">Brooklyn</option>
                                        <option value="4">Queens</option>
                                        <option value="5">Staten Island</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                        <header><h3>More Features</h3></header>
                                        <ul class="submit-features">
                                            <li><div class="checkbox"><label><input type="checkbox">Gi</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox">Nogi</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox">Pro</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox">P-Prizes</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox">Adult</label></div></li>
                                            <li><div class="checkbox"><label><input type="checkbox">Kids</label></div></li>
                                        </ul>
                                    </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </div><!-- /.search-box.map -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.search-box-inner -->
    </div>
    <!-- end Search Box -->

    <!-- Page Content -->
    <div id="page-content">

    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer">
        <div class="inner">
            <aside id="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>About Us</h3>
                                <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                    primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                    id, ornare tortor
                                </p>
                                <hr>
                                <a href="#" class="link-arrow">Read More</a>
                            </article>
                        </div><!-- /.col-sm-3 -->

                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Contact</h3>
                                <address>
                                    <strong>Your Company</strong><br>
                                    4877 Spruce Drive<br>
                                    West Newton, PA 15089
                                </address>
                                +1 (000) 000-0000<br>
                                <a href="#">hello@example.com</a>
                            </article>
                        </div><!-- /.col-sm-3 -->
                        <div class="col-md-3 col-sm-3">
                            <article>
                                <h3>Useful Links</h3>
                                <ul class="list-unstyled list-links">
                                    <li><a href="#">All Events</a></li>
                                    <li><a href="#">WWF</a></li>
                                    <li><a href="#">EA Sports</a></li>
                                    <li><a href="#">Star Plus</a></li>
                                    <li><a href="#">HBO</a></li>
                                </ul>
                            </article>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </aside><!-- /#footer-main -->
            <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © 2016. All Rights Reserved.</span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<div id="overlay"></div>

<script type="text/javascript" src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerwithlabel_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/infobox.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.placeholder.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.vanillabox-0.1.5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/retina-1.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jshashtable-2.1_src.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.numberformatter-1.2.3.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/tmpl.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.dependClass-0.1.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/draggable-0.1.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.slider.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/markerclusterer_packed.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom-map.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->
<script>
    _latitude = 48.87;
    _longitude = 2.29;
    createHomepageGoogleMap(_latitude,_longitude);
    $(window).load(function(){
        initializeOwl(false);
    });
</script>
</body>
</html>
